/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font:inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*::before,*::after{
    box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
}

a {
	text-decoration: none;
	display: block;
}

h3 {
	font-size: 24px;
	text-align: center;
}

img {
	vertical-align: bottom;
	max-width: 100%;
	height: auto;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.social-media {
	background-color: #F6F6F6;
}

.social-media-list {
	display: flex;
	justify-content: end;
	padding: 6px 12px;
}

.social-media-fb a {
	color: #4460A0;
	padding-right: 8px;
	border-right: 1px solid #cccccc;
}

.social-media-twitter a {
	color: #00AAEC;
	padding-left: 8px;
}

.social-media-fb, .social-media-twitter {
	cursor: pointer;
}

header {
	padding: 0 18px;
}

header h1 {
	float: left;
}

header h1 a {
	background-image: url(/images/logo.png);
	width: 224px;
	height: 50px;
	display: block;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}

.navbar {
	display: flex;
	justify-content: end;
}

.nav-item a {
	display: block;
	color: #00CC99;
	padding: 17px 12px;
	border-bottom: 2px solid transparent;
}

.nav-item a:hover {
	border-bottom: 2px solid #00CC99;
	transition: .5s;
}

.banner {
	background-image: url("./images/banner.png");
	background-size: cover;
	height: 346px;
	width: 100%;
	display: flex;
	align-items: center;
}

.banner h2 {
	font-size: 36px;
	color: #fff;
	padding: 20px;
	line-height: 1.2;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.course {
	padding: 24px 20px 0 20px;
	margin-top: 30px;
}

.course-list {
	display: flex;
	justify-content: space-between;
}

.course-item {
	width: 300px;
	padding: 20px;
	box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	display: flex;
	flex-direction: column;
}

.course-item img {
	width: 150px;
	height: 150px;
	object-fit: contain;
	margin: 0 auto;
}

.course-item h3 {
	font-size: 16px;
	font-weight: 500;
	margin: 8px 0;
}

.course-item:hover {
	box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.4);;
}

.course-item p {
	line-height: 1.5;
}

.jquery-list {
	list-style-type: disc;
	padding-left: 16px;
}

.jquery-item {
	margin-bottom: 8px;
}

.compare {
	padding: 64px 80px;
}

.compare h3 {
	margin-bottom: 28px;
}

.table-title {
	font-weight: 700;
	background-color: #f7f7f7;
	border-top: 1px solid #ddd;
}

.table-title:hover {
	background-color: #f7f7f7;
}

th, td {
	width: 25vw;
	height: 36px;
	text-align-last: left;
	padding: 8px 0;
	padding-left: 20px;
}

.td-green {
	color: #009771;
}

tr:hover {
	background-color: rgba(0, 204, 153, .1);
	cursor: pointer;
}

.compare-table tr {
	border-bottom: 1px solid #ddd;
}

.contact {
	width: 1000px;
	height: 400px;
	background: linear-gradient(#00644b, #009771);
	padding: 0 20px;
}

.contact h3 {
	color: #fff;
	line-height: 1.2;
	padding-top: 36px;
	padding-bottom: 28px;
}

.contact form {
	display: flex;
	gap: 40px;
}

.message {
	width: 460px;
	height: 245px;
	padding: 8px 12px;
	border: none;
	border-radius: 4px;
}

.contact-info {
	width: 460px;
	display: flex;
	flex-direction: column;
}

.contact-info label {
	color: #fff;
	margin-bottom: 8px;
}

.contact input {
	height: 32px;
	padding: 8px 12px;
	margin-bottom: 16px;
	border: none;
	border-radius: 4px;
}

.btn {
	display: flex;
	justify-content: end;
}

.btn-submit {
	color: #fff;
	background-color: #00CC99;
	width: 70px;
	padding: 8px 20px;
	margin-top: 4px;
	cursor: pointer;
}

.btn-submit:hover {
	color: #00CC99;
	background-color: #fff;
	transition: .5s;
}

footer {
	padding: 28px 12px 52px 12px;
	display: flex;
	justify-content: space-between;
}

footer h2 {
	float: left;
}

footer h2 a {
	background-image: url(/images/footerLogo.png);
	width: 171px;
	height: 36px;
	display: block;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}

.link-item {
	display: flex;
}

.link-item a {
	color: #E12D80;
}

.link-item a:hover {
	color: #00CC99;
}
.mb-8 {
	margin-bottom: 8px;
}

.mr-4 {
	margin-right: 4px;
}